@font-face {
  font-family: 'inter-sb';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'rubik-r';
  src: url('../fonts/Rubik-Regular.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'rubik-m';
  src: url('../fonts/Rubik-Medium.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'rubik-sb';
  src: url('../fonts/Rubik-SemiBold.ttf');
  font-style: normal;
  font-weight: 700;
}